/* Tables */

.table {
	font-size: 13px;
	width: 100%;
	margin-bottom: 3em;
	border-collapse: collapse;
}
.table th[scope='col'], .table thead th {
	text-align: left;
}
.table th[scope='col'].text-center, .table thead th.text-center {
	text-align: center;
}
.table caption {
	padding: 0.6em 0;
	border-top: 2px solid #e8e8e8;
	/* font-family: $cwd-font-family-sans-alt;*/
	font-size: 16px;
	font-weight: 400;
}
.table .blank {
	background: none !important;
}
.table td, .table th {
	background: #fff;
	padding: 0.4em 0.6em;
	border: 1px solid #d9d9d9;
	border-width: 0 1px;
}
.table.compact td, .table.compact th {
	font-size: 12px;
	padding: 0.2em 0.3em;
}
.table td:first-child, .table th:first-child {
	border-left-width: 0;
}
.table td:last-child, .table th:last-child {
	border-right-width: 0;
}
.table th {
	background: #fafafa;
}
.table thead th {
	background: #efefef;
	border-bottom-width: 1px;
}

.table.bordered tr > * {
	border-width: 1px;
}

.table.flat tr > * {
	border-width: 0;
}
.table.flat td, .table.flat th {
	padding: 0.8em;
	background: #fafafa;
}
.table.flat th {
	background: #f2f2f2;
}
.table.flat th[scope='col'], .table.flat thead th {
	background: #e6e6e6;
}

.table.striped tr:nth-child(even) td {
	background: #f7f7f7;
}
.table.striped tbody tr:nth-child(even) th {
	background: #f0f0f0;
}
.table.flat.striped tr:nth-child(even) td {
	background: #ededed;
}
.table.flat.striped tbody tr:nth-child(even) th {
	background: #e8e8e8;
}

.table.colored td {
	background: #f6ffff;
	border-color: #afbfc9;
}
.table.colored.striped tr:nth-child(even) > td {
	background: #ebf3f8;
}
.table.colored th[scope='col'], .table.colored thead th,
.table.flat.colored th[scope='col'], .table.flat.colored thead th {
	background: #cfe3ef;
	border-color: #afbfc9;
}
.table.flat.colored tr > th[scope='row'] {
	border-right-width: 1px;
}

.table.rainbow tr * {
	border-color: #aaa;
}
.table.rainbow tr > *:nth-child(5n+1) {
	background: #f6ffff;
}
.table.rainbow tr > *:nth-child(5n+2) {
	background: #f6fff7;
}
.table.rainbow tr > *:nth-child(5n+3) {
	background: #fffff6;
}
.table.rainbow tr > *:nth-child(5n+4) {
	background: #fff7fa;
}
.table.rainbow tr > *:nth-child(5n+5) {
	background: #fcf7ff;
}
.table.rainbow thead tr > *:nth-child(5n+1) {
	background: #cfe3ef;
}
.table.rainbow thead tr > *:nth-child(5n+2) {
	background: #cfefd1;
}
.table.rainbow thead tr > *:nth-child(5n+3) {
	background: #efe7cf;
}
.table.rainbow thead tr > *:nth-child(5n+4) {
	background: #efd3d1;
}
.table.rainbow thead tr > *:nth-child(5n+5) {
	background: #e7d1f1;
}
.table.rainbow.striped tr:nth-child(even) > td:nth-child(5n+1) {
	background: #ebf3f8;
}
.table.rainbow.striped tr:nth-child(even) > td:nth-child(5n+2) {
	background: #ebf8ec;
}
.table.rainbow.striped tr:nth-child(even) > td:nth-child(5n+3) {
	background: #f8f5eb;
}
.table.rainbow.striped tr:nth-child(even) > td:nth-child(5n+4) {
	background: #f8edec;
}
.table.rainbow.striped tr:nth-child(even) > td:nth-child(5n+5) {
	background: #f5ecf9;
}
.table.colored tr > th[scope='row'],
.table.rainbow tr > th[scope='row'] {
	background: #fafafa !important;
}
.table.colored.striped tr:nth-child(even) > th[scope='row'], .table.flat.colored .blank,
.table.rainbow.striped tr:nth-child(even) > th[scope='row'], .table.flat.rainbow .blank, .table.rainbow thead th:not([scope='col']) {
	background: #f0f0f0 !important;
}

.table.flat.sectioned thead th {
	border-bottom-width: 1px;
}
.table.flat.sectioned tbody > tr:first-child > td {
	border-top: 1px solid #d9d9d9;
}
.table.flat.sectioned tbody > tr:first-child > th {
	border-top: 1px solid #d9d9d9;
}
.table.sectioned tbody:before {
  content: '';
  display: block;
  height: 1.5em;
}